<mat-list-item>
  <span matListItemIcon>
    <mat-checkbox [checked]="task.complete"
                  (change)="toggle.emit(task)">
    </mat-checkbox>
  </span>
  <span matListItemTitle class="title" [class.done]="task.complete">{{task.title}}</span>
  <div matListItemMeta>
    <button mat-icon-button (click)="edit.emit(task)">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="delete.emit(task)">
        <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-list-item>
