<mat-list-item>
  <span matListItemIcon>
    <mat-checkbox [checked]="task.complete"
                  (change)="toggle.emit(task)"
                  [disabled]="task.isLocked && !task.editionId">
    </mat-checkbox>
  </span>
  <span matListItemTitle class="title" [class.done]="task.complete">{{task.title}}</span>
  <div matListItemMeta>
    <mat-progress-spinner diameter="16" mode="indeterminate"
          *ngIf="task.isLocked && !task.editionId"></mat-progress-spinner>
    <button mat-icon-button (click)="edit.emit(task)" [disabled]="task.isLocked && !task.editionId">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="delete.emit(task)"
            [disabled]="task.isLocked && !task.editionId">
        <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-list-item>
