.spacer {
  flex: 1 1 auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

.loading-container {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}

.empty-state {
  text-align: center;
  margin: 32px 0;
  color: rgba(0, 0, 0, 0.54);
}
